name: Build and test Postgres Standard Library

on:
  push:
    branches:
      - 1.67.1
  pull_request:
    branches:
      - 1.67.1

jobs:
  test_x86_84:
    name: x86_64 build & test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install system dependencies
      run: |
        sudo apt-get install -y \
          clang-11 \
          llvm-11 \
          clang \
          gcc \
          make \
          build-essential \
          libz-dev \
          zlib1g-dev \
          strace \
          libssl-dev \
          pkg-config \
          crossbuild-essential-arm64

    - name: Install rust
      run: |
        export RUSTUP_HOME="$HOME/.rustup"
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
        source "$HOME/.cargo/env"
        cargo --version

    - name: Update postgrestd git submodules
      run: git submodule update --init --recursive

    - name: Build postgrestd
      run: ./run install
      env:
        CARGO_TARGET_AARCH64_POSTGRES_LINUX_GNU_LINKER: aarch64-linux-gnu-gcc
        CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER: aarch64-linux-gnu-gcc
        CARGO_TARGET_X86_64_POSTGRES_LINUX_GNU_LINKER: cc
